body {
  background-color: powderblue;
}
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
}
label, option, button, input {
  color: black;
  font-family: courier;
}

