body {
  background-color: powderblue;
}
div {
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 50px;
}
label, option, button, input {
  color: black;
  font-family: Courier New;
}




